$small-fonts: (
  title: bold 16pt arial,
  subtitle: 14pt arial,
  text: 11pt Georgia,
  uppercase-buttons: false
);

$large-fonts: (
  title: bold 24pt "Times New Roman",
  subtitle: italic 20pt Helvetica,
  text: 14pt "Times New Roman",
  uppercase-buttons: true
);