.my-panel {
  padding: 0;
  border: 2px solid gray;
  border-radius: 1em;  

  > .my-panel-header,
  > .my-panel-body,
  > .my-panel-footer {
    padding: 1em;
  }

  > .my-panel-header {
    font-weight: bold;
    border-top-left-radius: 0.85em;  
    border-top-right-radius: 0.85em;  
  }

  > .my-panel-footer button {
    padding: 0.3em 1em;
    border-radius: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    font-weight: bold;
    border: 1px solid;
  }
}
