.main-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;

  > app-my-panel {
    margin: 0 20px;
  }
}

button {
  margin-top: 2em;
}
