<div class="my-panel">
  <div class="my-panel-header">
    <h1 class="title">Title goes here</h1>
    <h4 class="subtitle">Subtitle goes here</h4>
  </div>
  <div class="my-panel-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at fringilla tortor, nec congue mauris. Nunc eu imperdiet sapien. Sed et viverra nisl, id porttitor nisi. Quisque sagittis ex id magna ultrices laoreet. Nullam commodo rhoncus felis, eu congue lectus ultricies commodo. Quisque a rutrum libero. Cras accumsan porta tincidunt.
  </div>
  <div class="my-panel-footer">
    <button class="my-panel-button" type="submit">Submit</button>
    <button class="my-panel-button" type="button">Cancel</button>
  </div>
</div>