.my-panel {
  padding: 0;
  border-width: 2px;
  border-style: solid;
  border-radius: 1em;

  > .my-panel-header,
  > .my-panel-body,
  > .my-panel-footer {
    padding: 1em;
  }

  > .my-panel-header {
    border-top-left-radius: 0.85em;
    border-top-right-radius: 0.85em;
  }

  > .my-panel-footer button {
    padding: 0.3em 1em;
    border-radius: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    border-width: 1px;
    border-style: solid;
  }
}
